{"filter":false,"title":"call_map_service.launch","tooltip":"/get_map_data/launch/call_map_service.launch","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":2,"column":9},"action":"insert","lines":["<launch>","    <node pkg=\"get_map_data\" type=\"call_map_service.py\" name=\"service_client\" output=\"screen\" />","</launch>"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":54},"end":{"row":1,"column":54},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":true,"wrapToView":true},"firstLineState":0},"timestamp":1530475110000,"hash":"e7985de454b7eba34de69aad8ad3da720cb5a8dd"}