{"filter":false,"title":"amcl_demo.launch","tooltip":"/my_amcl_launcher/launch/amcl_demo.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":466,"scrollleft":0,"selection":{"start":{"row":35,"column":29},"end":{"row":35,"column":29},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":true,"wrapToView":true},"firstLineState":{"row":29,"state":"start","mode":"ace/mode/xml"}},"timestamp":1530571258149,"hash":"0c8115c268d5090bb406737cda184cee1186fb88"}