{"filter":false,"title":"gmapping_demo.launch","tooltip":"/my_mapping_launcher/launch/gmapping_demo.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":0},"end":{"row":3,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1530480073233,"hash":"fee6dfeff1e7aa1d90544f5356a2e59bffe58964"}